
.imagen{
    width: 100% !important;
    height: 1000px !important;
    min-width: 200px !important;
    min-height: 100px !important;
}

.justificar{
    text-align: justify;
}

/* Color de la navegacion */
.nav-color{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

