
.imagen{
    width: 100% !important;
    height: 1050px !important;
    min-width: 500px !important;
    min-height: 100px !important;
}

.justificar{
    text-align: justify;
}

.historia{
    background:red;
}