
/* Importando estilo de letra */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,600;1,500&display=swap');

*{
    font-family: 'Urbanist', sans-serif;
}

/* Imagen en computadora */
.imagen{
    width: 100% !important;
    height: 940px !important;
}

.justificar{
    text-align: justify;
}

/* Color de la navegacion */
.nav-color{
    background-color: white;
    /* backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);  */
}

#historia{
    background: #FFDA77 !important;
}
